@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-container {
    max-width: 500px;
    width: 100%;
    padding: 4rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  } 